/*body 部分*/
.body {
    padding: 70px 20px 20px 200px;
    position: relative;
    /*background: red;*/
}
/*上部分*/
.body .body_top{
    height: 194px;
    width: 100%;
 /*   background: red;*/
    position: relative;
}
/*左侧*/
.body .body_top_l{
    color: rgba(255,255,255,1);
    height: 34px;
    width: 50%;
  /*  background: #91ffc5;*/
    position: absolute;
    left: 0;
    bottom: 10px;
}
.body .body_top_l button:last-child{
    margin-left: 10px;
}
.body .body_top_l .btn_search .body_top-l-i{
    margin-right: 10px;
}
.body .body_top_l .btn_search{
    background:rgb(12, 228, 80);
}
/*所有按钮的选中 点击操作*/
.body .body_top_l .btn_search:hover{
    color:rgba(255,255,255,1);
    background:rgb(18, 220, 82);

}

.body .body_top_l .btn_search:focus{
    color:rgba(255,255,255,1);
    background:rgb(12, 228, 80);
    outline: none;
}

/*右侧*/
.body .body_top_r{
    height: 50px;
    width: 50%;
    /*background: #fff14b;*/
    position: absolute;
    right: 0;
    bottom: 10px;
}
/*左侧搜索*/
.body_top_r .body_solr{
    float: left;
    position: relative;
    width: 54%;
    height: 50px;
   /* background: #00ba4e;*/
}
.body_top_r .body_solr .body_input_l{
    position:absolute;
    left: 194px;
    bottom: 0;
}
.body_top_r .body_solr .body_input_r{
    position:absolute;
    right: -195px;
    bottom: 0;
}
.body_top_r .body_solr input{
    border: 1px solid #ccc;
    padding: 4px 5px;
    box-sizing: content-box;
    line-height: 18px;
    border-radius: 2px;
    height: 24px;
    width: 156px;
}

/*右侧按钮*/
.body .body_top_r .body_buton{
    float: right;
    position: relative;
    width: 23%;
    height: 50px;
/*    background: #00ba4e;*/
}

/*确认按钮*/
.body .body_top_r .body_buton .btn_search{
    width: 84px;
    height: 32px;
    border-radius: 7px;
    margin-left: 10px;
    background: rgba(234, 16, 16, 1);
    color: rgba(255,255,255,1);
    position: absolute;
    bottom: 0px;
    left: 4px;
}

.body .body_top_r .body_buton .btn_empty{
    width: 84px;
    height: 32px;
    border-radius: 7px;
    margin-left: 10px;
    background: rgb(127, 125, 125);
    color: rgba(255,255,255,1);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*按钮颜色变换*/
.body .body_top_r .body_buton .btn_search:hover{

    background:rgb(214, 30, 30);
}
.body .body_top_r .body_buton .btn_search:focus{
    outline: none;
}
.body .body_top_r .body_buton .btn_empty:hover{
    background:rgb(123, 114, 114);
}
.body .body_top_r .body_buton .btn_empty:focus{
    outline: none;
}

/*头部标题*/
.body .body_top .body_title{
    background: #ffffff;
    width: 100%;
    height: 80px;
    position: relative;
    top: 23px;
}

.body .body_top .body_title .body_title_font{
    width: 8%;
    height: 50px;
  /*  background: #7bff82;*/
    position: absolute;
    left: 10px;
    top: 20px;
}
.body .body_top .body_title .body_title_font div{
    font-size: 27px;
    text-align: center;
    color: #0ce450;
}
/*抽出背景颜色*/
b_red{

}

.b_yellow{

}

.b_green