/*=================================================================头部开始==================================================================================================*/
/*头部*/
.header{
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.1); /*添加阴影*/
    padding: 0 40px;
    position: fixed; /*根据窗口绝对定位*/
}

/*li*/
.header>ul>li {
    float: left;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
}

/*a 相当于下拉框*/
.header>ul>li .dmbox a {
    height: 40px;
    line-height: 40px;
    padding-left: 11px;
    color: #5e5e5e;
    display: block;
}

/*两个圆*/
.header>ul>li .icon_h_xt {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ba4e;
    margin-right: 6px;
}
/*把li标记变成inline-block*/
.iconin {
    display: inline-block; /*变为行内快元素*/
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

/*li 的下拉框实际*/
.header>ul>li .dmbox {
    position: absolute;
    z-index: 30;  /*：Z-index 仅能在定位元素上奏效（例如 position:absolute;）！ 设置成30 比父元素优先级高*/
    left: 0;
    top: 50px;
    background-color: #fff;
    border: 1px solid #dcdee1;
    border-top: 0;
    width: 100px;
    /* display: flow-root; *//*就是说使用这个属性之后，该元素会生成一个块级容器框，并且使用的是流布局。为里面内容创建新的块级格式化上下文。*/
    display: none;
    border-radius: 0 0 6px 6px;
}

.icon_name4{
    background-image: url(../image/home/icon_log4.png);
}
.icon_name1{
    background-image: url(../image/home/icon_log4.png);
}
.icon_name2{
    background-image: url(../image/home/icon_log4.png);
}
.icon_name3{
    background-image: url(../image/home/icon_log4.png);
}


/*头部*/
.header{
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.1); /*添加阴影*/
    padding: 0 40px;
    position: fixed; /*根据窗口绝对定位*/
}

/*li*/
.header>ul>li {
    float: left;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
}

/*a 相当于下拉框*/
.header>ul>li .dmbox a {
    height: 40px;
    line-height: 40px;
    padding-left: 11px;
    color: #5e5e5e;
    display: block;
}
/*显示下拉框*/
.header>ul>li:hover .dmbox{
    display: block;
}
/*下拉框鼠标经过按钮*/
.header>ul>li .dmbox a:hover {
    background-color: #f0f0f0;
}
/*两个圆*/
.header>ul>li .icon_h_name,
.header>ul>li .icon_h_xt{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#00ba4e;
    margin-right: 6px;
}
/*系统配置的按钮颜色*/
.header>ul>li .icon_h_xt{
    background-color:#009ad8;
}


/*把li标记变成inline-block*/
.iconin {
    display: inline-block; /*变为行内快元素*/
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

/*li 的下拉框实际*/
.header>ul>li .dmbox {
    position: absolute;
    z-index: 30;  /*：Z-index 仅能在定位元素上奏效（例如 position:absolute;）！ 设置成30 比父元素优先级高*/
    left: 0;
    top: 50px;
    background-color: #fff;
    border: 1px solid #dcdee1;
    border-top: 0;
    width: 100px;
    /* display: flow-root; *//*就是说使用这个属性之后，该元素会生成一个块级容器框，并且使用的是流布局。为里面内容创建新的块级格式化上下文。*/
    display: none;
    border-radius: 0 0 6px 6px;
}

.icon_name4{
    background-image: url(../image/home/icon_log4.png);
}
.icon_name1{
    background-image: url(../image/home/icon_log4.png);
}
.icon_name2{
    background-image: url(../image/home/icon_log4.png);
}
.icon_name3{
    background-image: url(../image/home/icon_log4.png);
}

/*=================================================================头部结束==================================================================================================*/
/*=================================================================左侧开始==================================================================================================*/
/*左侧部分*/
.left {
    width: 180px;
    height: 100%;
    background-color: #1f232b;
    left: 0;
    top: 0;
    z-index: 110; /*级别大于头部分*/
    padding-top: 6px;
    position: fixed; /*根据窗口定位*/
}

/*绿水商城*/
.left .left_top {
    text-align: center;
    color: #00ba4e;
   /* font-size: 18px;*/
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    background: url(../image/home/left_top.png) no-repeat center bottom;
}

/*商城log*/
.logo {
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -2px;
    background: url(../image/home/logo.png) no-repeat 0 0;
    background-size: 100% 100%;
    vertical-align: middle;
}

/*导航*/
.left .nav_title {
    height: 36px;
    line-height: 36px;
    margin-top: 20px;
    padding-left: 20px;
    color: #4a4d53;
    font-size: 14px;
}

/*列表*/
.nav .section h3 {
    height: 50px;
    line-height: 50px;
    position: relative;
    padding-left: 51px;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
}

/*列表字体*/
.nav .h3 a{
    /*  color: #fff;*/
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    color: #a5a7aa;
}
/*列表闭合*/
.nav .section h3 .icon_down {
    background-image: url(../image/home/down.png);
}

/*列表开*/
.nav .section h3 .icon_up {
    background-image: url(../image/home/up.png);
}


/*列表开闭*/
.nav .section h3 .icon_up, .nav .section h3 .icon_down {
    width: 10px;
    height: 6px;
    left: auto;
    right: 14px;
    top: 32px;
    z-index: 30;
}

/*首页图标*/
.icon_nav1{
    left: 20px;
    top: 50%;
    margin-top: -10px;
    background-image: url(../image/home/nav1_on.png);
}
/*图表公共*/
.nav .h3 .icon {
    width: 20px;
    height: 20px;
    z-index: 20;
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 20px;
    top: 50%;
    margin-top: -10px;
}

/*列表的li*/
.nav .section li {
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 51px;
}
/*里的a标签*/
.nav .section li a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    color: #a5a7aa;
}

/*用户左侧图标*/
.nav .section h3 .icon_nav2{
    background-image: url(../image/home/nav2.png);
}

/*订单左侧图标*/
.nav .section h3 .icon_nav3 {
    background-image: url(../image/home/nav3.png);
}

/*产品左侧图标*/
.nav .section h3 .icon_nav4 {
    background-image: url(../image/home/nav4.png);
}

/*消息左侧图标*/
.nav .section h3 .icon_nav5 {
    background-image: url(../image/home/nav5.png);
}
/*财务左侧图标*/
.nav .section h3 .icon_nav6 {
    background-image: url(../image/home/nav6.png);
}

/*列表鼠标焦点 字体  当被点击是标签添加一个active 把颜色变为当前颜色*/
.nav .section h3:hover a,.nav .section h3.active a {
    color: #fff;
}
/*列表鼠标焦点 整列  并且首页默认颜色   当被点击是就给li标签添加一个active 把颜色变为当前颜色*/
.nav .section h3:hover, .nav .section h3.active {
    background-color: #00ba4e;
}

/*列表鼠标焦点 li子列表字体 改变  当被点击是就给li标签添加一个active 把颜色变为当前颜色*/
.nav .section li.active a, .nav .section li a:hover {
    color: #00ba4e;
}
/*列表关闭*/
.nav .section ul {
    display: none;
}

/*除去bootStrop的默认间距*/
.nav .h3{
    margin: 0;
}
/*=================================================================左侧结束===================================================================================================*/